body > .popover {

  h3.title {
    display: none;
  }

  div.content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.session {

  &.popover-content {

    .button.login {
      margin: 0 auto;
    }

    .current-user {
      display: none;
    }

    .logout {
      display: block;
    }
  }

  .button.login {
    display: block;
    width: 150px;
    height: 23px;
    text-indent: -9999em;
    text-align: left;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 0;

    &:hover {
      background-position: 0 -24px;
    }

    &:active {
      background-position: 0 -48px;
    }

    &.facebook {
      background-image: image_url('/assets/buttons/login_facebook.png');
    }

    &.twitter {
      margin-bottom: 7px;
      background-image: image_url('/assets/buttons/login_twitter.png');
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin: 1px 8px 0 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    overflow: hidden;

    &:hover {
      border: 1px solid #0069D6;

      a {
        border: 1px solid white;
        position: relative;
        width: 48px;
        overflow: hidden;
        height: 48px;

        img {
          position: relative;
          top: -1px;
          left: -1px;
        }
      }
    }
    
    a {
      display: block;

      img {
        max-width: none;
      }
    }
  }

  .current-user {
    font-weight: bold;
    
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn {

    &.current-user {
      font-weight: normal;
    }
  }

  .authentications {
    width: 140px;
    padding-top: 1px;

    span {
      padding-left: 5px;
    }
  }

  .logout {
    display: none;
  }
}
