<h1>Edit source</h1>

<form id="edit-source" name="source">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value=<%= url %> >
  </div>

  <div class="field">
    <label for="kind"> kind:</label>
    <input type="text" name="kind" id="kind" value=<%= kind %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Source" />
  </div>

</form>

<a href="#/index">Back</a>