<h1>Listing sources</h1>

<table id="sources-table">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Source</a>