<h1>Listing videos</h1>

<table id="videos-table">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Video</th>
    <th>Provider</th>
    <th>Description</th>
    <th>Keywords</th>
    <th>Duration</th>
    <th>Date</th>
    <th>Thumbnail small</th>
    <th>Thumbnail large</th>
    <th>Width</th>
    <th>Height</th>
    <th>Popularity</th>
    <th>Url html</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Video</a>