<h1>Listing videos</h1>

<table id="videos-table">
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Url</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Video</a>