<h1>Listing artists</h1>

<table id="artists-table">
  <tr>
    <th>Name</th>
    <th>Echonest</th>
    <th>Images</th>
    <th>Biographies</th>
    <th>Popularity</th>
    <th>Familiarity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Artist</a>