<h1>Listing mentions</h1>

<table id="mentions-table">
  <tr>
    <th>Source</th>
    <th>Author</th>
    <th>Text</th>
    <th>Url</th>
    <th>Rating</th>
    <th>Sentiment</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Mention</a>