<h1>Listing tracks</h1>

<table id="tracks-table">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Label</th>
    <th>Mention</th>
    <th>Rdio url</th>
    <th>Spotify url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Track</a>