body.home {
  h1 {
    text-align: left;

    span {
      font-size: 30px;
      font-style: italic;
    }
  }

  .popular.this-week {
    margin: 25px 0;

    .thumb {
      padding: 25px 0;
    }
  }
}