ul.media-list.mentions {
  padding-left: 8px;

  li.mention {
    width: 188px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 15px;
    z-index: 0;
    position: relative;
  
    > .thumbnail {
      padding-top: 12px;
  
      h5 {
        font-size: 13px;
        line-height: 16px;
        padding: 2px 0 6px 0;
      } 
      
      a.thumbnail {
        float: none;
        margin: 0 auto;
        overflow: hidden;
      }

      .caption {
        padding: 9px 0 0;
        margin: 0 auto;
        width: 160px;

        > .content {
          font-size: 12px;
        }
      }

      p.buttons {
        margin: 6px auto 4px;
        text-align: center;
        padding: 5px 17px 5px 14px;

        a.btn.primary {
          width: 100%;
          padding: 5px 0 6px;
          margin: 0 auto;
        }
      }
    }
  }
}