.span4
  = render "layouts/session"
  %h5 Sources
  %ul
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
  %h5 Artists
  %ul
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
  %h5 Users
  %ul
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link